body {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    font-family: sans-serif;
        
}


.content{
    display: grid;
    background: #eee;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(3,400px) 250px;
    grid-template-areas: "osama_mohamed osama_mohamed ahmed_sayed shady_nabil"
                         "mohamed_ibrahim mahmoud_mohamed mahmoud_mohamed shady_nabil"
                         "mohamed_ibrahim ezz_eldin ezz_eldin shady_nabil"
                         "mohamed_sayed ibrahim_sayed gamal_sayed eman_sayed";
    gap: 10px;
    padding: 50px;
    position: relative;
}

.osama-mohamed,
.ahmed-sayed,
.mohamed-ibrahim,
.ezz-eldin,
.mohamed-sayed,
.gamal-sayed,
.eman-sayed
{
    padding: 10px;
    background-color: white;
    border-bottom: 5px solid red;
    position: relative;
}

.name{
    position: absolute;
    font-weight: bold;
    top: 0;
}

.title{
    color: gray;
    font-weight: bold;
    position: absolute;
    padding: 15px 0;
    top: 10px;
}

.content div::after{
    content: url(../Images/352392_format_quote_icon.png);
    position: absolute;
    bottom: 0;
    right: 5px;
}

.description{
    padding-top: 40px;
}

.shady-nabil, .mahmoud-mohamed, .ibrahim-sayed{
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: 5px solid red;
    position: relative;
}

.osama-mohamed{
    grid-area:osama_mohamed;
}

.ahmed-sayed{
    grid-area:ahmed_sayed;
}
.shady-nabil{
    grid-area:shady_nabil;
}
.mohamed-ibrahim{
    grid-area:mohamed_ibrahim;
}
.ezz-eldin{
    grid-area:ezz_eldin;
}
.mahmoud-mohamed{
    grid-area:mahmoud_mohamed;
}
.mohamed-sayed{
    grid-area:mohamed_sayed;
}
.ibrahim-sayed{
    grid-area:ibrahim_sayed;
}
.gamal-sayed{
    grid-area:gamal_sayed;
}
.eman-sayed{
    grid-area:eman_sayed;
}